/* 
 * Copyright © 2020 Dennis Schulmeister-Zimolong
 * 
 * E-Mail: dhbw@windows3.de
 * Webseite: https://www.wpvs.de/
 * 
 * Dieser Quellcode ist lizenziert unter einer
 * Creative Commons Namensnennung 4.0 International Lizenz.
 */

 html, body {
    font-family: sans-serif;
    font-size: 12pt;
    height: 100%;

    margin: 0;
    padding: 0;
}

html {
    /* https://pixabay.com/illustrations/spaceship-star-trek-enterprise-5138940/ */
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(5px);
}

.container {
    background: rgba(255,255,255,0.9);
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.8);
    border-radius: 0.5em;
    padding: 1em;
    margin: 2em;
}

h1, h2 {
    color: rgb(165, 26, 54);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
    margin: 0 0 0.75em 0;
}

input[type="text"] {
    display: block;
    width: 100%;
    font-size: 110%;
    box-sizing: border-box;
    border: 1px solid grey;
    margin-bottom: 0.5em;
}

ul {
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
    font-size: 90%;
}

li {
    margin: 0 0 0.75em 0;
    padding: 0;
}

.error {
    color: red;
    font-weight: bold;
    margin: 0 0 0.75em 0;
}